#For JSON Web Token
JWT_SECRET=<A strong password>
JWT_ADMIN_SECRET=<A strong password>

#Database Connection URL
DB_URL=<Connection string of MongoDB>

#Default admin account for initial login
DEFAULT_ADMIN_USERNAME=<email address>
DEFAULT_ADMIN_PASSWORD=<A strong password>

#For sending OTP
GMAIL_ADDRESS=<A valid gmail address>
GMAIL_APP_PASSWORD=<App password of the above email address>